.room-header-title
	flex-grow: 2
	h1
		display: inline-block
		vertical-align: baseline
	.my-button
		vertical-align: middle

.room-main-content
	height: 100vh
	display: flex

.main-column
	flex-grow: 1

.chat-column
	flex-basis: 300px
	background-color: #F2F2F2