$main-color: #FF5C00

.room-header-title
	flex-grow: 2
	display: flex
	align-items: baseline
	padding-right: 20px
	h1
		display: inline-block
		vertical-align: baseline
	.my-button
		vertical-align: middle

	.room-time
		flex-grow: 1
		text-align: right
		color: #777777

	.user-count
		padding: 0 10px
		margin-left: 10px
		height: 30px
		line-height: 30px

.room-main-content
	height: 100vh
	display: flex

.main-column
	flex-grow: 1

.micro-block
	padding: 5px 20px

	.icon-wrapper
		margin: 0 10px
		float: none
		position: relative

		.sub-icon
			position: absolute
			bottom: 0
			z-index: 5
			height: 1.8em
	
.telling-column
	display: flex
	flex-direction: column
	flex-basis: 378px
	background-color: #E5E5E5
	border-left: 1px solid #D1D1D1

	.webcam-block
		background-color: #FFFFFF
		flex-shrink: 0
		box-shadow: 0 15px 15px -15px rgba(0, 0, 0, 0.1)
		z-index: 5
		display: flex
		justify-content: center
		align-items: center
		flex-wrap: wrap

	.messages-block
		flex-grow: 1
		overflow-y: auto

.video-wrapper
	flex-basis: 50%
	max-width: 70%
	flex-shrink: 0
	flex-grow: 1
	position: relative
	video
		width: 100%
		display: block
		max-height: 200px

	.video-icon
		position: absolute
		top: 50%
		left: 50%
		margin-left: -25px
		margin-top: -25px
		opacity: 0
		transition: opacity 0.3s
		border: 5px solid white
		border-radius: 50%

		&.show
			opacity: 1

body
	.my-button.add-micro-button
		color: #C2C2C2
		height: 60px
		width: 60px
		padding: 0
		border: 2px solid #C2C2C2
		border-radius: 50%
		position: relative
		flex-shrink: 0

	.my-button.add:before
		content: ''
		position: absolute
		background: url("./img/plus.svg")
		background-size: 20px
		width: 20px
		height: 20px
		top: 50%
		left: 50%
		margin-top: -10px

	.my-button.add-micro-button.active
		color: white
		border-color: $main-color
		background-color: $main-color
