@import "fonts/fonts"
@import "inputs"
@import "transitions"

$main-color: #FF5C00

*
	font-family: 'Open Sans', sans-serif

.page
	width: 100%
	position: relative

a
	text-decoration: none

a:not(.clear)
	font-weight: bold
	
	color: $main-color
	&:hover
		text-decoration: underline


img
	color: transparent
	background-color: #E0E0E0

.hover-opacity:hover
	opacity: 0.7

.orange
	color: $main-color

.icon-empty
	border-radius: 50%
	text-align: center
	color: white
	font-weight: normal
	background-color: #FF6B18

	&.group
		background-color: #1A9796
.icon
	border-radius: 50%

b
	color: #FF5C00
	font-weight: 600

.icon-wrapper
	float: left
	position: relative
	
	.mini-icon
		position: absolute
		bottom: 0
		right: 0
		background-color: $main-color
		width: 22%
		height: 22%
		border-radius: 50%
		border: 3px solid #FFF

